body {
    font-family: robot, lato !important;
    font-size: large;
}

.logo {
    height: 43px !important;
}

.navbar-brand {
    font-size: 27px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
}

.nav-item a {
    color: gray !important;
    font-size: 16px;
    padding: 0 10px;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.nav-item {
    padding: 0 10px;
}